/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.search-form {
  place-items: center;
  display: flex;
  flex-direction: column;
}

input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #0b0b09;
  text-align: start;
  margin-bottom: 30px;
}
.start-btn {
  margin-top: -10px;
  width: 75px;
  height: 40px;
  border-radius: 8px;
  background-color: #050103;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  padding: 0;
  cursor: pointer;
}

.start-btn:hover,
.start-btn:active {
  background-color: #f7f5f6;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gallery {
  margin-top: 50px;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  row-gap: 24px;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-descr {
  color: #fff;
  font-size: 12px;
}

.gallery-item {
  object-fit: cover;
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 350px;
  height: 205px;
}
.modal-image {
  max-width: 100%;
  object-fit: cover;
}
.loader {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: roll 1s ease-in-out infinite alternate;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #ff3d00 transparent;
}
@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }
  100% {
    transform: translateX(150%) rotate(360deg);
  }
}
